{% extends 'base.html' %}
{% load static %}

{% block title %}
    listaMensalista
{% endblock %}
{% block main %}
<div class="">
    <h3 class="cadastro">Lista de Mensalista</h3>
    <br>
    {% for i in dados %}
        <form class="user-card">
            <label>Veiculos</label>
            <input value="{{i.veiculo_id}}" disabled/>

            <label>Preço Tabela</label>
            <input value="{{i.tabela_id}}" disabled/>
            
            <label>Observações</label>
            <input value="{{i.observacoes}}" disabled/>

            <a href="{% url 'url_altera_mensalista' id=i.id %}">Editar</a>
            <a href="{% url 'url_excluir_mensalista' id=i.id %}">Excluir</a>
        </form>
        {% endfor %}
    <br>
        <button onclick="window.location.href='/'">Voltar</button>
</div>
{% endblock %}
