<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
        Cliente
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Cadastro</a>
        <a class="dropdown-item" href="#">Listagem</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
        Veículo
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Cadastro</a>
        <a class="dropdown-item" href="#">Listagem</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop3" data-toggle="dropdown">
        Movimentação
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Cadastro Mensalista</a>
        <a class="dropdown-item" href="#">Cadastro Rotativo</a>
        <hr>
        <a class="dropdown-item" href="#">Listagem Mensalista</a>
        <a class="dropdown-item" href="#">Listagem Rotativo</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop3" data-toggle="dropdown">
        Tabela
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Cadastro</a>
        <a class="dropdown-item" href="#">Listagem</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop4" data-toggle="dropdown">
        Marcas
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Cadastro</a>
        <a class="dropdown-item" href="#">Listagem</a>
      </div>
    </li>
  </ul>
</nav>